@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    
        .dos{
            background-color:blue;



        }
   
</style>

<div class="dos">
    <h1>Umali Online Shop</h1>
</div>
